.News_background{
	background-image: url('background.png');
	background-size: contain;
	background-repeat: no-repeat;
	height: 1080px;
	width: 1920px;
	text-align:center;
}

.news-font
{
	font-style: normal;
	font-size: 16px;
	width: 370px;
}

.home
{
	background-image: url('home.jpg');
	background-size: 200px;
	background-repeat: no-repeat;
	height: 40px;
	width: 180px;
}
.buttonhome
{
	background-image: url('homebutton.jpg');
	background-size: 100px;
	background-repeat: no-repeat;
	height: 100px;
	width: 100px;
	margin-left : -3px;
}
.buttonback
{
	background-image: url('back.jpg');
	background-size: 100px;
	background-repeat: no-repeat;
	height: 100px;
	width: 100px;
}
.news_title
{
	background-color : #91F8D0;
	font-size : 48px;
}
.popup
{
	height: 400px;
	width: 600px;
}
.fsnew
{
	margin-left:-2400px;
	padding-top : 1320px;
	zoom:25%;
	height: 100px;
	width: 100px;
	
}
.fstext
{
	margin-left : 270px;
	font-size: 16px;
	width: 340px;
	color : #000000;
}