@import url(http://fonts.googleapis.com/earlyaccess/jejuhallasan.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
.News_background{
   background-image: url('background2.png');
   background-size: contain;
   background-repeat: no-repeat;
   height: 1080px;
   width: 1920px;
   text-align:center;
}
.popup_background
{
   background-image : url('popupback.png');
   background-size : contain;
   background-repeat : no-repeat;
   height: 1080px;
   width: 1920px;
}
.popup_background
{
	background-image : url('popupback.png');
	background-size : contain;
	background-repeat : no-repeat;
	height: 1080px;
	width: 1920px;
}
.article
{
   width : 900px;
   font-size : 32px;
   margin-left : 40px;
   font-family: 'Jeju Hallasan', sans-serif;
   word-spacing : 8px;

}
.Photos
{
   zoom:37%;
}
.bottomPhoto
{
   zoom:40%;
}
.news-font
{
   font-style: normal;
   font-size: 16px;
   width: 370px;
}

.home
{
   background-image: url('home.png');
   background-size: 150px;
   background-repeat: no-repeat;
   height: 100px;
   width: 150px;
}
.buttonhome
{
   background-image: url('pophome_off.jpg');
   background-repeat: no-repeat;
	background-size : contain;
   height: 90px;
   width: 90px;
   margin-top : 210px;
}
.buttonback
{
   background-image: url('popback_off.jpg');
   background-repeat: no-repeat;
	background-size : contain;
   height: 90px;
   width: 90px;
   margin-left : 1675px;
   margin-top : 210px;
}
.news_title
{
   font-size : 72px;
   color : #000000;
   font-family: 'Jeju Hallasan', sans-serif;
}
.popup
{
   height: 400px;
   width: 600px;
}
.fsnew
{
   margin-left:-2000px;
   padding-top : 1700px;
   zoom:30%;
   height: 100px;
   width: 100px;
   
}
.fstext
{
   margin-left : -40px;
   padding-top : 750px;
   font-size: 18px;
   width: 280px;
   color : #898176;
}