@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

.News_background{
   background-image: url('background2.png');
   background-size: contain;
   background-repeat: no-repeat;
   height: 1080px;
   width: 1920px;
   text-align:center;
}

.popup_background
{
   background-image : url('popupback.png');
   background-size : contain;
   background-repeat : no-repeat;
   height: 1080px;
   width: 1920px;
}
.article
{
   background-size: contain;
   width : 900px;
   font-size : 38px;
   margin-left : 40px;
   font-family: 'nanum gothic';
   line-height:130%;
   word-spacing : 4px;
   font-weight:bold;
}
.Photos
{
   zoom:37%;
}
.bottomPhoto
{
   zoom:40%;
}
.news-font
{
   font-style: normal;
   font-size: 16px;
   width: 370px;
}

.home
{
   background-image: url('home.png');
   background-size: 150px;
   background-repeat: no-repeat;
   height: 100px;
   width: 150px;
}
.buttonhome
{
   background-image: url('pophome_off.jpg');
   background-repeat: no-repeat;
	background-size : contain;
   height: 90px;
   width: 90px;
   margin-top : 210px;
}
.buttonback
{
   background-image: url('popback_off.jpg');
   background-repeat: no-repeat;
	background-size : contain;
   height: 90px;
   width: 90px;
   margin-left : 1675px;
   margin-top : 210px;
}
.news_title
{
   font-size : 60px;
   color : #ffffff;
   font-family: 'nanum gothic';
   font-weight:bold;
}
.popup
{
   height: 400px;
   width: 600px;
}
.headline
{
	text-align: center;
	font-family: 'nanum gothic';
	font-weight: bold;
	font-size : 32px;
	color : #898989;
}

.fsimage
{
	zoom : 45%;
	margin-left : -20px;
}
.fstext
{
   font-size :30px;
   width : 450px;
   color : #ff0080;
   font-weight: bold;
   font-family: 'nanum gothic';
}
.fsarticle
{
	width : 578px;
	margin-top : 20px;
	font-size :28px;
    color : #898989;
    font-weight: bold;
    font-family: 'nanum gothic';
}