.panels-sample-flickr-panels {
   color: white;
   background: #333;
}
.panels-sample-flickr-panels > * {
   width: 320px;
   box-shadow: -4px 0px 4px rgba(0,0,0,0.3);
   -moz-box-shadow: -4px 0px 4px rgba(0,0,0,0.3);
   -webkit-box-shadow: -4px 0px 4px rgba(0,0,0,0.3);
}
.panels-sample-flickr-item {
   position: relative;
   border-bottom: 1px solid #333;
   padding: 12px 16px;
   background-color: #333;
}

.panels-sample-flickr-item.onyx-selected {
   background-color: #c0c0c0;
}

.panels-sample-flickr-title {
   position: absolute;
   top: 40px;
   right: 0;
   left: 100px;

   overflow: hidden;
   white-space: nowrap;
   text-overflow: ellipsis;
}
.panels-sample-flickr-thumbnail {
   width: 75px;
   height: 75px;
}
.panels-sample-flickr-more-button {
   color: white; margin: 10px;
}
.panels-sample-flickr-more-spinner {
   vertical-align: middle;
   margin: -4px 0 0 4px;
}
.panels-sample-flickr-center {
   margin: auto;
}
.panels-sample-flickr-main {
   background-color: #333;
}
.panels-sample-flickr-image {
   box-sizing: border-box;
   max-height: 90%;
   max-width: 90%;
   border: solid 5px #CCC;
   box-shadow: 1px 1px 5px #999;
   width: 600px;
   height: 700px;
}

.panels-sample-flickr-image.wide {
   width: 100%;
}


@media all and (max-width: 800px) {
   .panels-sample-flickr-image.wide {
      width: auto;
   }
}

.panels-sample-flickr-image.tall {
   height: 100%;
}










.main-css{
   color: white;
   background-image: url('MainBackground1.png');
   background-size: contain;
   background-repeat: no-repeat;
   width: 1920px;
   height: 1040px;
}
.play
{
   background-image: url('play.png');
   background-repeat: no-repeat;
     width: 580px;
     zoom: 110%;
   height: 150px;
}
.RoadPan1-css{
   background-size: contain;
   width: 0px;
   height: 400px;/*650 400*/
   margin-top : 0px; /*50 10 0*/
   margin-right : 0px;
   margin-left : 0px;
   
}
.RoadPan-css{
   background-size: contain;
   width: 650px;
   height: 400px;
   margin-top : 70px; 
   margin-right : 10px;
   margin-left : 300px;
   
}
.ListPan-css{
   background-size: contain;
   width: 500px;
   height: 600px;
   margin-top : 100px; /**/
   margin-right : 100px;
   padding-top : 50px;
   /*margin-right: 10px;*/
  
}
.remove-button-css{
   float: right;
}
.chocheon-bar-css{
   width: 700px;
   height: 50px;
   margin: 0px 0px 0px 0px;
}
.chocheon-css{
   width: 700px;
   height: 100px;
   margin: 0px 500px 200px 200px;
}
.highlight-css{
   width: 50px;
   height: 50px;
}


.home
{
   background-image: url('homebutton.jpg');
   background-size: 200px;
   background-repeat: no-repeat;
   height: 40px;
   width: 180px;
}