@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

.panels-sample-flickr-panels {
   color: white;
   background: #555;
}
.panels-sample-flickr-panels > * {
   width: 320px;
   box-shadow: -4px 0px 4px rgba(0,0,0,0.3);
   -moz-box-shadow: -4px 0px 4px rgba(0,0,0,0.3);
   -webkit-box-shadow: -4px 0px 4px rgba(0,0,0,0.3);
}

.panels-sample-flickr-more-button {
   color: white; margin: 10px;
}

.panels-sample-flickr-center {
   margin: auto;
}
.panels-sample-flickr-main {
   background-color: #333;
}
.panels-sample-flickr-image {
   box-sizing: border-box;
   max-height: 90%;
   max-width: 90%;
   border: solid 5px #CCC;
   box-shadow: 1px 1px 5px #999;
   width: 600px;
   height: 700px;
}

.panels-sample-flickr-image.wide {
   width: 100%;
}


@media all and (max-width: 800px) {
   .panels-sample-flickr-image.wide {
      width: auto;
   }
}

.panels-sample-flickr-image.tall {
   height: 100%;
}








.main{
   color: white;
   background-image: url('MainBackground1.jpg');
   background-size: contain;
   background-repeat: no-repeat;
   width: 1920px;
   height: 1040px;
}
.RoadPan{
   background-size: cover;
   background-repeat: no-repeat;
   width: 650px;
   height: 355px;
   margin: 20px;
   margin-left: 240px;
   margin-top: 115px;
   font-family: 'Nanum Gothic', sans-serif;
}
.ExpPan{
   background-size: contain;
   width: 650px;
   height: 240px;
   margin: 20px;
   margin-left: 240px;
   margin-top: 130px;
   font-family: 'Nanum Gothic', sans-serif;
}
.listPan{
   background-size: contain;
   width: 500px;
   height: 700px;
   margin: 20px;
   margin-left: 110px;
   margin-top: 120px;
   font-family: 'Nanum Gothic', sans-serif;
}
.panels-sample-flickr-thumbnail {
}
.panels-sample-flickr-item {
   position: relative;
   border-bottom: 5px solid #0E0E0E;
   background-color: #222222;
   width: 430px;
}

.panels-sample-flickr-item.onyx-selected {
   background-color: MidnightBlue;
}
.toolbar{
   background-color: #FFE400;
}
.home
{
   background-image: url('homebutton.jpg');
   background-size: 200px;
   background-repeat: no-repeat;
   height: 40px;
   width: 180px;
}
.ExpItem{
   width: 300px;
   height: 40px;
   margin: 5px;
}
.Caro{
   width: 350px;
   height: 800px;
}
.Caro1{
   margin-left: 100px;
}