.panels-sample-flickr-panels1 {
   color: white;
   background-image: url('MainBack.png');
   background-size: contain;
   background-repeat: no-repeat;
   width: 1920px;
   height: 1080px;
}
.newsb{
   /*background-image: url('news.png');
      background-size: contain;
   background-repeat: no-repeat;*/
   margin-top:110px;
   margin-left:600px;
   width: 350px;
   height: 200px;
}
.sdb{

   width:300px;
   height:165px;
   opacity:0;
}
.playb{
   /*background-image: url('play.png');
   background-repeat: no-repeat;*/
margin-left:463px;
   margin-top:155px;
     width: 580px;
     zoom: 110%;
   height: 150px;
}
.faceb{
   /*background-image: url('face.jpg');
   background-repeat: no-repeat;*/
   margin-top:70px;
   margin-left:720px;
     width: 440px;
   height: 165px;
}
.androidb{
   width:300px;
   height:165px;
}
.twitb{
   /*background-image: url('twit.png');
   background-repeat: no-repeat;*/
     width: 360px;
   height: 165px;
}
.wishb{
   /*background-image: url('wish.png');
   background-repeat: no-repeat;*/
   width: 320px;
   height: 380px;
}
.ani {
  animation-duration: 3s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}